{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "new-cap": 0,
    "prefer-arrow-callback": 0,
    "no-param-reassign": [2,{"props":false}],
    "max-len": [2, 200],
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "indent": ["error", 2]
  },
  "plugins": [
    "mocha"
  ],
  "env": {
    "mocha": true
  }
}