# lcov
coverage/
*.log
.package.json

# artifacts & source
README.hbs
output.md
output/
test/
examples/
lib-doc/
dist/
src/

# TypeScript configs
tsconfig.json
tsconfig.build.json
tsconfig.test.json
tsconfig.examples.json

# ESLint configs
eslint.config.mjs

# dotfiles
.travis.yml
.eslintrc
.eslintignore
.editorconfig
.babelrc
.gitignore
.git
.prettierrc
